virtualenvwrapper
pymongo >= 3.0
twitter >= 1.14.1
pytz
requests
urllib3[secure]
fake-useragent
progressbar2
csvkit
flask
Flask-Caching
flask-compress
# required for py3.7+
networkx == 2.2
future
elasticsearch >= 6.0.0, < 7.0.0
ural
minet >= 0.14.1
# commented since code piece was integrated
#urlsresolver
