{% extends "layout.html" %}

{% block content %}
  <h1>Export tweets</h1>

  <div class="col-md-3"></div>
  <div class="col-md-6 form-group well">
    <form action="{{url_for('download')}}" method="get">
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">Start date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="startdate" data-date="{{startdate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="startdate" value="{{startdate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>

      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">End date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="enddate" data-date="{{enddate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="enddate" value="{{enddate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>

      <input type="hidden" id="filters_val" name="query" value="{{query}}"></select>
      <input type="hidden" id="filters_val" name="filters" value="{{filters}}"></select>
    </form>

    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Query:</label>
      <select multiple id="query"></select>
    </div>

    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Filters:</label>
      <select multiple id="filters"></select>
    </div>

    <div class="row pullright">
      <input id="submit" class="pullright" type="submit" value="Download"/>
    </div>

    {% if errors %}
    <div class="row alert alert-danger">
      <h3>Warning!</h3>
      <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
  <div class="col-md-3"></div>
{% endblock %}

{% block js %}
(function(ns){
  ns.addDatePicker = function(id){
    $('#'+id).datepicker({format: 'yyyy-mm-dd'});
  }
  ns.addTagSelect = function(id, initVals){
    var input = $('#'+id),
      hid = $('input[name='+id+']'),
      getHid = function(){ return hid.val().split(/\|/)},
      formatHid = function(vals){
        console.log(vals)
        hid.val(vals.filter(function(v){ return v }).join('|'));
      };
    input.tagsinput();
    initVals.split(/\|/).forEach(function(val){
      input.tagsinput('add', val);
    });
    $(input).on('itemAdded', function(e){
      var values = getHid();
      values.push(e.item);
      formatHid(values);
    }).on('itemRemoved', function(e){
      formatHid(getHid().filter(function(v){ return v !== e.item }))
    });
  }
  ns.submit = function(){
    $('form').submit();
  }
  $(document).ready(function(){
    ns.addDatePicker('startdate');
    ns.addDatePicker('enddate');
    ns.addTagSelect('query', "{{query}}");
    ns.addTagSelect('filters', "{{filters}}");
    $('#submit').on('click', ns.submit);
    $('.bootstrap-tagsinput').addClass('col-md-8 col-xs-8')
  });
})(window.gazouilloireExportForm = window.gazouilloireExportForm || {});
{% endblock %}
