{
    "twitter": {
        "key": "xxxxxxxxxxxxxxxxxxxxx",
        "secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "oauth_token": "xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "oauth_secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "database": {
        "host": "localhost",
        "port": 9200,
        "db_name": "gazouilloire"
    },
    "keywords": [
        "amour",
        "@medialab_scpo"
    ],
    "url_pieces": [],
    "time_limited_keywords": {},
    "language": null,
    "geolocation": "Paris, France",
    "resolve_redirected_links": true,
    "grab_conversations": false,
    "download_medias": {
        "photos": false,
        "videos": false,
        "animated_gifs": false
    },
    "medias_directory": "medias",
    "timezone": "Europe/Paris",
    "verbose": false
}
