MONGO_DATABASE = 'metas-users'
TWITTER = {
  'KEY': 'xxxxxxxxxxxxxxxxxxxxx',
  'SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_TOKEN': 'xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
}
ACCOUNTS = [
  'medialab_ScPo'
]
