CSV_SOURCE = 'Liste_elus_ile-de-france.csv'
CSV_ENCODING = 'iso-8859-15'
CSV_TWITTER_FIELD = 'Compte twitter'
CSV_LASTTWEET_FIELD = 'last_tweet_id'
MONGO_DATABASE = 'twitter-corpus'
TWITTER = {
  'KEY': 'xxxxxxxxxxxxxxxxxxxxx',
  'SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_TOKEN': 'xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
}
