WSGISocketPrefix run/wsgi
<VirtualHost *:80>
    WSGIDaemonProcess gazouilloire.web user=apache group=apache threads=5
    WSGIScriptAlias /gazouilloire PATH_TO_GAZOUILLOIRE/gazouilloire/web/web.wsgi
    <Directory PATH_TO_GAZOUILLOIRE/gazouilloire/web>
        WSGIProcessGroup gazouilloire.web
        WSGIApplicationGroup %{GLOBAL}
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
