CSV_SOURCE = 'cleanup_data/liste_sans_doublons_with_metas.csv'
CSV_ENCODING = 'utf-8'
CSV_TWITTER_FIELD = 'Compte twitter'
MONGO_DATABASE = 'twitter-corpus'
TWITTER = {
  'KEY': 'xxxxxxxxxxxxxxxxxxxxx',
  'SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_TOKEN': 'xxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
  'OAUTH_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
}
