body {
  padding-top: 50px;
}
.export {
  padding: 40px 15px;
}
h1, h3 {
  text-align: center;
}
h3 {
  margin: 0;
}
.row {
  margin: 5px 0px;
  clear: both;
}
label {
  text-align: right;
  padding-top: 8px;
}
.pullright {
  float: right;
  margin-right: 5%;
  margin-bottom: 15px;
}
html input[type=submit][disabled] {
  opacity: 0.5;
}
input[type=checkbox] {
  margin: 12px 0px;
}
#loader {
  display: none;
  position: absolute;
  left: 50%;
}
#errors, #preview, #nomatch {
  display: none;
}
