{% extends "layout.html" %}

{% block content %}
  <h1>Export tweets</h1>

  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 form-group well">
    <form action="{{url_for('download')}}" method="get">
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">Start date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="startdate" data-date="{{startdate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="startdate" value="{{startdate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>

      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">End date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="enddate" data-date="{{enddate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="enddate" value="{{enddate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>

      <input type="hidden" id="threads_val" name="threads" value="{{include_threads}}"></select>
      <input type="hidden" id="selected_val" name="selected" value="{{selected}}"></select>
      <input type="hidden" id="query_val" name="query" value="{{query}}"></select>
      <input type="hidden" id="filters_val" name="filters" value="{{filters}}"></select>
    </form>

    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Query:</label>
      <select multiple id="query"></select>
    </div>

    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Filters:</label>
      <select multiple id="filters"></select>
    </div>

    {% if threads_option %}
    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Include threads</label>
      <input id="threads" name="threads" type="checkbox" {{include_threads}}>
    </div>
    {% endif %}

    {% if selected_option %}
    <div class="row">
      <label class="col-md-4 col-xs-4 control-label">Only selected</label>
      <input id="selected" name="selected" type="checkbox" {{selected}}>
    </div>
    {% endif %}

    <div class="row pullright">
      <input id="submit" class="pullright" type="submit" value="Preview"/>
    </div>

    <div id="errors" class="row alert alert-danger">
      <h3>Warning!</h3>
      <ul></ul>
    </div>

  </div>
  <div class="col-md-3"></div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <img id="loader" src="{{ url_for('static', filename='img/loader.gif') }}"/>
    <div id="nomatch">
      <h3>No match!</h3>
    </div>
    <div id="preview">
      <h3><input id="download" type="submit" value="Download"/></h3>
      <table></table>
    </div>
  </div>
  </div>

{% endblock %}

{% block importJS %}
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
