{% extends "layout.html" %}

{% block content %}
  <h1>Export tweets</h1>

  <div class="col-md-3"></div>
  <div class="col-md-6 form-group well">
    <form action="{{url_for('download')}}" method="get">
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">Start date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="startdate" data-date="{{startdate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="startdate" value="{{startdate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">End date:</label>
        <div class="col-md-8 col-xs-8 input-group date" id="enddate" data-date="{{enddate}}" data-date-format="yyyy-mm-dd">
          <input class="form-control" type="text" name="enddate" value="{{enddate}}">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">Query:</label>
        <input class="col-md-8 col-xs-8" type="text" name="query" value="{{query}}"/>
      </div>
      <div class="row">
        <label class="col-md-4 col-xs-4 control-label">Filters:</label>
        <input class="col-md-8 col-xs-8" type="text" name="filters" value="{{filters}}"/></p>
      </div>
      <div class="row">
      <div class="pullright">
        <p><small><em>Separate multiple filters or queries using ';'</em></small></p>
        <input class="pullright" type="submit" value="Download"/>
      </div>
    </form>
    {% if errors %}
    <div class="row alert alert-danger">
      <h3>Warning!</h3>
      <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
  <div class="col-md-3"></div>
{% endblock %}

{% block js %}
$('#startdate').datepicker({format: 'yyyy-mm-dd'});
$('#enddate').datepicker({format: 'yyyy-mm-dd'});
{% endblock %}
